.restaurant-image-container {
  text-align: center;
  padding: 2em;
  box-shadow: 5px;
}

.restaurant-image {
  height: 500px;
  width: 500px;
  border-radius: 35px;
  box-shadow: 6px -5px 20px 2px, inset 0 0 20px rgba(38, 5, 146, 0.5);
}

.restaurant-details {
display: flex;
position: relative;
align-items: center;
flex-direction: row;
justify-content: center;
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 650px;
  height: auto;
  margin-left: 15px;
}
/* .restaurant-info { */
  /* margin: 200px 0px 0px 0px; */
  /* border: green 4px solid; */

/* } */

.restaurant-details-container {
  margin: 20px;
  padding: 10px;
}

.restaurant-updatedelete {
  display: flex;
  justify-content: space-around;
}

.detail-button {
  margin: 10px;
  font-size: 28px;
  padding: 10px;
}

.restaurant-reviews {
  padding: 10px;
}



