.restaurant-image-container {
  padding-top: 10em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10em 10em 8em;
  margin: 0 auto;
  flex: 1 1 30em;
  width: 40em;
  margin: 0 2em;
}

.restaurant-details {
display: flex;
justify-content: space-between;
border: 2px solid black;
}

.restaurant-info {
  margin-top: 200px;
}


