.create-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.create-container {
  margin: 0 auto;
  background: #cfe4e9;
  max-width: 25em;
  border-radius: 3px;
  box-shadow: 3px 3px 10px rgb(216, 236, 246);
  padding: 25px;
}

