.footer {
  background: #045577;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  width: 100%;
  height: 4.5rem;
  bottom: 0;
}

.footer-logo {
  height: 120px;
  width: 120px;
}

.footer-h4 {
  display: flex;
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  padding: 1em;
  font-weight: 500;
}

.footer-a {
  display: flex;
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  padding: 1em;
}

.footer-img {
  height: 20px;
  width: 20px;
  
}

@media screen and (max-width: 1000px) {
  .footer-h1 {
    font-size: 1.9em;
    margin-left: 18px;
  }
  .footer-h4,
  .footer-a {
    font-size: 14px;
  }
}
@media screen and (max-width: 860px) {
  .footer-h1 {
    font-size: 1.7em;
    margin-left: 18px;
  }
  .footer-h4,
  .footer-a {
    font-size: 12px;
  }
}
@media screen and (max-width: 614px) {
  .footer-h1 {
    font-size: 1.3em;
    margin-left: 18px;
  }
  .footer-h4,
  .footer-a {
    font-size: 10px;
  }
}
@media screen and (max-width: 375px) {
  .footer {
    width: 100vw;
  }

  .footer-img {

  }
  }
